Repository woorifisa-projects/WONFIT, pull requests merged in 2023-09, with the labels that each got.

#122 refactor: 상품 검색 API 연결 방식 수정
  frontend/src/api/index.js
  frontend/src/api/modules/depositApi.js
  frontend/src/api/modules/getApi.js
  frontend/src/api/modules/index.js
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/views/detail/Deposit.vue
  frontend/src/views/search/Default.vue
  frontend/src/views/search/Fund.vue
Labels: 🌞 frontend, 🛠refactor

#123 feat: jwt 유효시간 변경
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: ✨ feat, 🗿 backend

#125 feat: 상품 조회 api, 프론트 연동
  frontend/.env
  frontend/src/api/modules/getApi.js
  frontend/src/api/modules/index.js
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/router/index.js
  frontend/src/views/Main.vue
  frontend/src/views/search/Default.vue
  frontend/src/views/search/Fund.vue
  frontend/src/views/search/Loan.vue
  frontend/src/views/search/Savings.vue
Labels: ✨ feat, 🌞 frontend

#127 feat: SMS 발송 기능 구현
  frontend/src/views/talk.vue
Labels: ✨ feat, 🌞 frontend

#129 feat: jwt access, refresh token 생성
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/config/Token.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberLoginResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  frontend/src/router/index.js
Labels: ✨ feat, 🗿 backend

#131 feat: SMS 발송 기능 구현 완료
  backend/build.gradle
  backend/src/main/java/com/woori/wonfit/log/smslog/controller/SmsController.java
  backend/src/main/java/com/woori/wonfit/log/smslog/domain/MakeSignature.java
  backend/src/main/java/com/woori/wonfit/log/smslog/domain/Sms.java
  backend/src/main/java/com/woori/wonfit/log/smslog/dto/SmsRequest.java
  backend/src/main/java/com/woori/wonfit/log/smslog/dto/SmsSendRequest.java
  backend/src/main/java/com/woori/wonfit/log/smslog/dto/SmsSendResponse.java
  backend/src/main/java/com/woori/wonfit/log/smslog/repository/SmsRepository.java
  backend/src/main/java/com/woori/wonfit/log/smslog/service/SmsService.java
  backend/src/main/java/com/woori/wonfit/log/smslog/service/SmsServiceImpl.java
  frontend/src/views/talk.vue
Labels: ✨ feat, 🗿 backend

#132 feat: jwt validation check
  backend/src/main/java/com/woori/wonfit/config/InterceptorConfig.java
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/config/WebMvcConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  frontend/src/views/Login.vue
Labels: ✨ feat, 🗿 backend

#135 UI/133 main signup manager page UI fe
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/log/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLog.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/repository/SubscribeLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogService.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/modules/index.js
  frontend/src/api/modules/patchApi.js
  frontend/src/api/modules/postApi.js
  frontend/src/assets/income.png
  frontend/src/assets/incomes.png
  frontend/src/assets/piece.png
  frontend/src/assets/puzzler.png
  frontend/src/assets/recommend.png
  frontend/src/components/checkbox/ProductCheckbox.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/layouts/default/Footer.vue
  frontend/src/main.js
  frontend/src/plugins/webfontloader.js
  frontend/src/router/index.js
  frontend/src/stores/counter.js
  frontend/src/views/Main.vue
  frontend/src/views/MyLikedProduct.vue
  frontend/src/views/Signup.vue
  frontend/src/views/main/BankSelect.vue
  frontend/src/views/main/Income.vue
  frontend/src/views/main/Login.vue
  frontend/src/views/main/Main.vue
  frontend/src/views/main/Recommend.vue
  frontend/src/views/main/Signup.vue
  frontend/src/views/manager/ManageProduct.vue
  frontend/src/views/manager/ManagerPage.vue
  frontend/src/views/manager/MemberSign.vue
  frontend/src/views/manager/SendTalk.vue
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/MyPage.vue
  frontend/src/views/member/MySubscribeProduct.vue
  frontend/src/views/member/Withdraw.vue
Labels: 🌞 frontend, 🎨 UI

#136 UI/133 main signup manager page UI fe
  frontend/src/router/index.js
  frontend/src/views/member/MySubscribeProduct.vue
Labels: 🚧 fix

#138 feat: 상품 상세조회 GET API 구현 및 상품 엔티티 클래스 status 필드 추가
  backend/src/main/java/com/woori/wonfit/config/WebMvcConfig.java
  backend/src/main/java/com/woori/wonfit/product/deposit/controller/DepositController.java
  backend/src/main/java/com/woori/wonfit/product/deposit/domain/Deposit.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositService.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/fund/controller/FundController.java
  backend/src/main/java/com/woori/wonfit/product/fund/domain/Fund.java
  backend/src/main/java/com/woori/wonfit/product/fund/service/FundService.java
  backend/src/main/java/com/woori/wonfit/product/fund/service/FundServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/controller/LoanController.java
  backend/src/main/java/com/woori/wonfit/product/loan/domain/Loan.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanService.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/savings/controller/SavingsController.java
  backend/src/main/java/com/woori/wonfit/product/savings/domain/Savings.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsResponse.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsService.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsServiceImpl.java
Labels: ✨ feat, 🗿 backend

#141 fix: appbar.vue 파일 수정
  frontend/src/assets/receipt.png
  frontend/src/components/Withdraw.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/views/main/Main.vue
Labels: 🚧 fix, 🌞 frontend, 🛠refactor

#142 feat:투자유형 엔티티 및 api 작성
  backend/src/main/java/com/woori/wonfit/member/investtype/controller/InvestTypeController.java
  backend/src/main/java/com/woori/wonfit/member/investtype/domain/InvestType.java
  backend/src/main/java/com/woori/wonfit/member/investtype/dto/InvestTypeRequest.java
  backend/src/main/java/com/woori/wonfit/member/investtype/dto/InvestTypeResponse.java
  backend/src/main/java/com/woori/wonfit/member/investtype/repository/InvestTypeRepository.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeService.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeServiceImpl.java
Labels: ✨ feat, 🗿 backend

#143 feat: 각 상품 상세페이지 조회 API 연결
  frontend/src/components/card/carddetail/DetailText.vue
  frontend/src/components/card/carddetail/DetailTitle.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/router/index.js
  frontend/src/styles/global.style.css
  frontend/src/views/detail/Deposit.vue
  frontend/src/views/detail/Fund.vue
  frontend/src/views/detail/Loan.vue
  frontend/src/views/detail/Savings.vue
  frontend/src/views/search/Savings.vue
Labels: ✨ feat, 🌞 frontend

#145 feat: cookie 설정 및 저장 완료
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDto.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  frontend/src/views/main/Login.vue
Labels: ✨ feat, 🗿 backend

#146 Feat/139 member investment type
  backend/src/main/java/com/woori/wonfit/member/investtype/domain/InvestType.java
  backend/src/main/java/com/woori/wonfit/member/investtype/dto/InvestTypeRequest.java
  backend/src/main/java/com/woori/wonfit/member/investtype/dto/InvestTypeResponse.java
  backend/src/main/java/com/woori/wonfit/member/investtype/repository/InvestTypeRepository.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeService.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: ✨ feat, 🗿 backend

#147 feat: interceptor 삭제 및 로그아웃 구현
  backend/src/main/java/com/woori/wonfit/config/CreateCookie.java
  backend/src/main/java/com/woori/wonfit/config/InterceptorConfig.java
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/config/WebMvcConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: ✨ feat, 🗿 backend

#148 feat: 투자 유형 분석 UI구현 /투자 유형 기능 구현 /API 수정사항 반영
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/member/investtype/controller/InvestTypeController.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeService.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeServiceImpl.java
  frontend/src/main.js
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: ✨ feat, 🗿 backend, 🌞 frontend

#150 HOTFIX: jenkins build error fix
  frontend/package-lock.json
  frontend/package.json
Labels: 🚧 fix

#152 feat: accessToken 재발급 기능 구현
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
Labels: ✨ feat, 🗿 backend

#153 Feat/151 memberdetails patci api be
  backend/src/main/java/com/woori/wonfit/member/investtype/controller/InvestTypeController.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDetails.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  frontend/src/router/index.js
  frontend/src/views/manager/ManageProduct.vue
  frontend/src/views/manager/ManagerPage.vue
  frontend/src/views/member/MySubscribeProduct.vue
Labels: ✨ feat, 🗿 backend

#155 UI/151 signup mypage UI api fe
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  frontend/src/router/index.js
Labels: 🌞 frontend, 🎨 UI

#157 feat: CookieConfig 모듈화
  backend/src/main/java/com/woori/wonfit/config/CookieConfig.java
  backend/src/main/java/com/woori/wonfit/config/CreateCookie.java
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: ✨ feat, 🗿 backend, 🛠refactor

#158 fix: CookieConfig 모듈화 수정
  backend/src/main/java/com/woori/wonfit/config/CookieConfig.java
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: 🚧 fix, 🗿 backend

#160 Feat/139 member investment type
  backend/src/main/java/com/woori/wonfit/member/investtype/controller/InvestTypeController.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeService.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/main/Recommend.vue
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: ✨ feat, 🗿 backend, 🌞 frontend

#161 refactor: 전체 Request URL 수정
  backend/src/main/java/com/woori/wonfit/log/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/controller/SearchLogController.java
  backend/src/main/java/com/woori/wonfit/log/smslog/controller/SmsController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerService.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/investtype/controller/InvestTypeController.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/controller/MemberInfoController.java
  backend/src/main/java/com/woori/wonfit/product/deposit/controller/DepositController.java
  backend/src/main/java/com/woori/wonfit/product/fund/controller/FundController.java
  backend/src/main/java/com/woori/wonfit/product/loan/controller/LoanController.java
  backend/src/main/java/com/woori/wonfit/product/savings/controller/SavingsController.java
Labels: 🗿 backend, 🛠refactor

#162 feat: pinia를 이용한 로그인 상태관리 기능 구현
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  frontend/src/App.vue
  frontend/src/api/modules/index.js
  frontend/src/layouts/default/AppBar.vue
  frontend/src/main.js
  frontend/src/plugins/index.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/store/useAuthStore.js
  frontend/src/stores/counter.js
  frontend/src/views/detail/Deposit.vue
  frontend/src/views/detail/Fund.vue
  frontend/src/views/detail/Loan.vue
  frontend/src/views/detail/Savings.vue
  frontend/src/views/main/Login.vue
  frontend/src/views/search/Default.vue
  frontend/src/views/search/Fund.vue
  frontend/src/views/search/Loan.vue
  frontend/src/views/search/Savings.vue
  frontend/vite.config.js
Labels: ✨ feat, 🌞 frontend

#163 UI: 예금상품 가입하기 페이지 구현 및 버튼 연결
  frontend/src/components/card/carddetail/DetailText.vue
  frontend/src/components/card/carddetail/DetailTitle.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/components/modal/CallNum.vue
  frontend/src/views/product/detail/Deposit.vue
  frontend/src/views/product/detail/Fund.vue
  frontend/src/views/product/detail/Loan.vue
  frontend/src/views/product/detail/Savings.vue
  frontend/src/views/product/search/Default.vue
  frontend/src/views/product/search/Fund.vue
  frontend/src/views/product/search/Loan.vue
  frontend/src/views/product/search/Savings.vue
  frontend/src/views/product/sub/SubDeposit.vue
Labels: ✨ feat, 🌞 frontend, 🎨 UI

#164 feat: member investment type
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeServiceImpl.java
  frontend/src/views/main/Login.vue
  frontend/src/views/main/Recommend.vue
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: ✨ feat, 🌞 frontend

#166 fix: 로그인 API 요청 경로 수정
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  frontend/src/views/main/Login.vue
Labels: 🚧 fix, 🌞 frontend, 🔮 style

#168 feat: 마이페이지 회원정보 수정 API 연결 및 Member Entity 필드 추가
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDetails.java
  frontend/src/api/modules/patchApi.js
  frontend/src/router/index.js
  frontend/src/views/main/Login.vue
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/MyPage.vue
  frontend/src/views/member/Withdraw.vue
  frontend/src/views/talk.vue
Labels: 🚧 fix, ✨ feat, 🗿 backend, 🌞 frontend

#172 feat: 관리자 권한 member 삭제 기능 구현
  backend/src/main/java/com/woori/wonfit/log/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/domain/LoginLog.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLog.java
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerService.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/investtype/domain/InvestType.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
Labels: ✨ feat, 🗿 backend

#175 feat: sms 발송 내역 조회 기능 구현
  backend/src/main/java/com/woori/wonfit/log/smslog/controller/SmsController.java
  backend/src/main/java/com/woori/wonfit/log/smslog/domain/Sms.java
  backend/src/main/java/com/woori/wonfit/log/smslog/service/SmsService.java
  backend/src/main/java/com/woori/wonfit/log/smslog/service/SmsServiceImpl.java
Labels: ✨ feat, 🗿 backend

#178 UI: 가입하기 버튼 구현
  frontend/src/layouts/default/AppBar.vue
Labels: 🌞 frontend, 🎨 UI

#179 feat: 회원가입 기능 수정 및 회원삭제 기능 수정
  backend/src/main/java/com/woori/wonfit/log/searchlog/domain/SearchLog.java
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/dto/DeleteMemberRequest.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerService.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoService.java
Labels: ✨ feat, 🗿 backend

#181 UI: 적금납입일, 대출 이자납입일 UI 추가
  frontend/src/views/product/sub/SubDeposit.vue
  frontend/src/views/product/sub/SubFund.vue
  frontend/src/views/product/sub/SubLoan.vue
  frontend/src/views/product/sub/SubSavings.vue
Labels: 🌞 frontend, 🎨 UI

#184 feat: 매니저 로그인 기능 추가
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/domain/Manager.java
  backend/src/main/java/com/woori/wonfit/manager/dto/ManagerLoginRequest.java
  backend/src/main/java/com/woori/wonfit/manager/dto/ManagerRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/manager/repository/ManagerRepository.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerService.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/controller/MemberInfoController.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/repository/MemberInfoRepository.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoService.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoServiceImpl.java
  frontend/src/api/modules/getApi.js
  frontend/src/api/modules/patchApi.js
  frontend/src/api/modules/postApi.js
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/MySubscribeProduct.vue
Labels: ✨ feat, 🗿 backend

#185 feat: manager 회원가입 비밀번호 인코딩
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
Labels: ✨ feat, 🗿 backend

#188 feat: 로그아웃 후 회원 탈퇴 처리
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  frontend/src/views/member/MyPage.vue
Labels: ✨ feat, 🗿 backend

#187 Feat/186 mypage withdraw UI api
  frontend/src/components/modal/WithdrawAlert.vue
  frontend/src/views/main/Signup.vue
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/Withdraw.vue
Labels: ✨ feat, 🌞 frontend

#190 UI: 메인페이지 퍼즐 이미지 호버, 마이데이터 보러가기 버튼 color 수정
  frontend/src/layouts/default/AppBar.vue
  frontend/src/styles/global.style.css
  frontend/src/views/main/Main.vue
Labels: 🌞 frontend, 🎨 UI

#191 feat: 상품 실시간 검색 기능 구현 및 UI 수정
  frontend/src/components/button/TypeButton.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/store/useAuthStore.js
  frontend/src/views/product/search/Default.vue
  frontend/src/views/product/search/Fund.vue
  frontend/src/views/product/search/Loan.vue
  frontend/src/views/product/search/Savings.vue
  frontend/src/views/product/sub/SubDeposit.vue
Labels: ✨ feat, 🌞 frontend, 🎨 UI

#192 feat: subscribeLog 엔티티 클래스에 필드 추가
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLog.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogRequest.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogResponse.java
Labels: ✨ feat, 🗿 backend

#194 Feat/186 mypage api
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/log/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/domain/LoginLog.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/domain/SearchLog.java
  backend/src/main/java/com/woori/wonfit/member/investtype/domain/InvestType.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDetails.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDto.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/controller/MemberInfoController.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/dto/MemberInfoDto.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/dto/MemberInfoResponse.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/repository/MemberInfoRepository.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/main/Main.vue
  frontend/src/views/main/Signup.vue
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/MyPage.vue
  frontend/src/views/member/MySubscribeProduct.vue
Labels: 🗿 backend, 🛠refactor

#195 fix: 백엔드 빌드 에러 fix
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
Labels: 🚧 fix

#197 feat: 알림톡 페이지 구현
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  frontend/src/views/manager/SendTalk.vue
Labels: ✨ feat, 🌞 frontend

#199 feat: 사용자 전체 조회 성능 개선
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MembersResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: ✨ feat, 🗿 backend, 🛠refactor

#203 feat: 상품 가입 기능 구현(FE, BE) 및 AppBar, Footer 리팩토링
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLog.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogRequest.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogResponse.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogService.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanRequest.java
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanResponse.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/deposit/domain/Deposit.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositDTO.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositRequest.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/fund/domain/Fund.java
  backend/src/main/java/com/woori/wonfit/product/fund/dto/FundDTO.java
  backend/src/main/java/com/woori/wonfit/product/fund/dto/FundRequest.java
  backend/src/main/java/com/woori/wonfit/product/fund/dto/FundResponse.java
  backend/src/main/java/com/woori/wonfit/product/fund/service/FundServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/domain/Loan.java
  backend/src/main/java/com/woori/wonfit/product/loan/dto/LoanDTO.java
  backend/src/main/java/com/woori/wonfit/product/loan/dto/LoanResponse.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/savings/domain/Savings.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsDTO.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsRequest.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsResponse.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsServiceImpl.java
  frontend/src/components/button/TypeButton.vue
  frontend/src/components/card/carddetail/DetailTitle.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/layouts/default/Footer.vue
  frontend/src/store/useAuthStore.js
  frontend/src/views/main/Main.vue
  frontend/src/views/product/detail/Deposit.vue
  frontend/src/views/product/detail/Fund.vue
  frontend/src/views/product/detail/Loan.vue
  frontend/src/views/product/detail/Savings.vue
  frontend/src/views/product/search/Default.vue
  frontend/src/views/product/search/Fund.vue
  frontend/src/views/product/search/Loan.vue
  frontend/src/views/product/search/Savings.vue
  frontend/src/views/product/sub/SubDeposit.vue
  frontend/src/views/product/sub/SubFund.vue
  frontend/src/views/product/sub/SubLoan.vue
  frontend/src/views/product/sub/SubSavings.vue
Labels: ✨ feat, 🗿 backend, 🌞 frontend, 🎨 UI

#204 faet: 상품 중복 가입 제한 기능 구현
  backend/src/main/java/com/woori/wonfit/config/ExceptionConfig.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/repository/SubscribeLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogService.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
Labels: ✨ feat, 🗿 backend

#206 Refactor/202 refactoring works
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MembersResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  frontend/src/views/main/Signup.vue
  frontend/src/views/manager/ManageProduct.vue
  frontend/src/views/manager/ManagerPage.vue
  frontend/src/views/member/MyPage.vue
Labels: 🌞 frontend, 🛠refactor

#208 refactor: 백엔드 IP 수정 및 recommend.vue UI 수정
  frontend/.env
  frontend/src/components/card/carddetail/DetailTitle.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/views/main/Login.vue
  frontend/src/views/main/Recommend.vue
  frontend/src/views/manager/SendTalk.vue
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/MyPage.vue
  frontend/src/views/member/MySubscribeProduct.vue
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: ⚙ chore, 🌞 frontend, 🛠refactor, 🎨 UI

#209 Feat/201 manager page api connect
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  frontend/src/assets/404.png
  frontend/src/components/modal/WithdrawAlert.vue
  frontend/src/router/index.js
  frontend/src/views/404page.vue
  frontend/src/views/manager/ManageLog.vue
  frontend/src/views/manager/ManageProduct.vue
  frontend/src/views/manager/ManagerPage.vue
  frontend/src/views/manager/SendTalk.vue
  frontend/src/views/member/Withdraw.vue
Labels: ✨ feat, 🌞 frontend

#214 feat: 로그인 기록 조회 기능 구현
  backend/src/main/java/com/woori/wonfit/log/loginlog/controller/LoginLogController.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/dto/LoginLogRequest.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/repository/LoginLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/service/LoginLogService.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/service/LoginLogServiceImpl.java
Labels: ✨ feat, 🗿 backend

#217 UI: 메인페이지 수정
  frontend/src/views/main/Main.vue
Labels: 🌞 frontend, 🎨 UI

#219 feat: 사용자 로그인 기록 조회
  frontend/src/views/manager/ManagerPage.vue
Labels: 🌞 frontend, 🎨 UI

#220 fix: 회원 정보 수정시 refreshToken 삭제 이슈 수정
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
Labels: 🚧 fix, 🗿 backend

#222 feat: 매니저 로그인 페이지 생성
  frontend/src/router/index.js
  frontend/src/views/manager/ManagerLogin.vue
  frontend/src/views/member/Withdraw.vue
Labels: ✨ feat, 🌞 frontend

#224 fix: 매니저 로그인 경로 변경
  frontend/src/views/manager/ManagerLogin.vue
Labels: 🚧 fix, 🌞 frontend

#225 fix: 회원정보 전체 조회 기능 수정
  backend/src/main/java/com/woori/wonfit/member/member/dto/MembersResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
Labels: 🚧 fix, 🗿 backend

#226 feat: 로그인 기록 조회 기능 구현
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/controller/LoginLogController.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/service/LoginLogService.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/service/LoginLogServiceImpl.java
  frontend/src/views/manager/ManagerLogin.vue
  frontend/src/views/manager/ManagerPage.vue
Labels: 🚧 fix, ✨ feat, 🗿 backend, 🌞 frontend

#228 UI: 성향분석 검사 페이지 및 로그인 페이지 UI 보완 작업
  frontend/src/views/main/Login.vue
  frontend/src/views/main/Main.vue
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: 🌞 frontend, 🎨 UI

#229 feat: 결과보기 페이지 UI 수정 및 상품 추천 기능 구현
  frontend/src/views/main/Recommend.vue
Labels: ✨ feat, 🌞 frontend, 🎨 UI

#230 fix: 로그인 로그 조회 기능 수정
  backend/src/main/java/com/woori/wonfit/log/loginlog/controller/LoginLogController.java
  frontend/src/views/manager/ManagerPage.vue
Labels: 🚧 fix, 🗿 backend

#232 fix: jenkins 빌드 오류 해결
  backend/src/main/java/com/woori/wonfit/log/loginlog/controller/LoginLogController.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/service/LoginLogService.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/service/LoginLogServiceImpl.java
Labels: 🚧 fix, 🗿 backend

#231 feat: Mydata 기능 구현
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/main/AgeGroupComponent.vue
  frontend/src/views/main/AnnualIncomeComponent.vue
  frontend/src/views/main/BankSelect.vue
  frontend/src/views/main/Income.vue
  frontend/src/views/main/LabelComponent.vue
Labels: ✨ feat, 🗿 backend, 🌞 frontend

#233 Feat/171 mydata
  frontend/src/views/main/BankSelect.vue
  frontend/src/views/main/Income.vue
  frontend/src/views/main/Recommend.vue
Labels: 🚧 fix

#235 fix: CookieConfig httponly 수정
  backend/src/main/java/com/woori/wonfit/config/CookieConfig.java
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: 🚧 fix, ✨ feat, 🗿 backend

#239 Feat/238 virtual keyboard
  frontend/src/views/main/BankSelect.vue
  frontend/src/views/main/Income.vue
  frontend/src/views/main/Recommend.vue
  frontend/src/views/main/Signup.vue
  frontend/src/views/main/VirtualKeyboard.vue
Labels: ✨ feat, 🌞 frontend

#240 refactor: 회원가입 입력 기준 강화
  frontend/src/views/main/Signup.vue
Labels: 🌞 frontend, 🛠refactor

#243 가입하기 유효성 체크, 상품 id로 상세페이지 이동, 상품타입 한글로 출력되게 가공
  frontend/.env
  frontend/src/api/modules/deleteApi.js
  frontend/src/api/modules/index.js
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/views/main/BankSelect.vue
  frontend/src/views/main/Income.vue
  frontend/src/views/main/Login.vue
  frontend/src/views/main/Recommend.vue
  frontend/src/views/manager/ManageProduct.vue
  frontend/src/views/manager/ManagerLogin.vue
  frontend/src/views/manager/SendTalk.vue
  frontend/src/views/member/MyLikedProduct.vue
  frontend/src/views/member/MyPage.vue
  frontend/src/views/member/MySubscribeProduct.vue
  frontend/src/views/product/detail/Deposit.vue
  frontend/src/views/product/detail/Fund.vue
  frontend/src/views/product/detail/Loan.vue
  frontend/src/views/product/detail/Savings.vue
  frontend/src/views/product/search/Default.vue
  frontend/src/views/product/search/Fund.vue
  frontend/src/views/product/search/Loan.vue
  frontend/src/views/product/search/Savings.vue
  frontend/src/views/product/sub/SubDeposit.vue
  frontend/src/views/product/sub/SubFund.vue
  frontend/src/views/product/sub/SubLoan.vue
  frontend/src/views/product/sub/SubSavings.vue
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: ✨ feat, 🌞 frontend

#246 feat: 새로고침 시 로그인 상태 유지, AppBar UI 수정, BE 로그인 확인 API 추가
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
  frontend/src/layouts/default/AppBar.vue
  frontend/src/router/index.js
  frontend/src/store/modules/useAuthStore.js
Labels: ✨ feat, 🌞 frontend, 🎨 UI

#248 fix: 계좌 비밀번호 암호화 및 사용자 수정 시 데이터 삭제 수정
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDetatilUpdateRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: 🚧 fix, 🗿 backend

#251 refactor: 마이페이지, 회원가입 페이지 수정
  frontend/src/views/main/Signup.vue
  frontend/src/views/member/MyPage.vue
Labels: 🌞 frontend, 🛠refactor, 🎨 UI

#252 feat: manager isLogin, logout API 기능 구현
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerService.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
Labels: ✨ feat, 🗿 backend

#253 fix: role에 따른 refreshToken 조회 수정
  backend/src/main/java/com/woori/wonfit/config/JwtFilter.java
Labels: 🚧 fix, 🗿 backend

#254 Refactor/250 mypage signup page
  frontend/src/views/main/Signup.vue
Labels: 🚧 fix, 🌞 frontend

#256 feat: 선택된 은행 이름과 잔액 조회
  backend/src/main/java/com/woori/wonfit/member/bank/domain/Bank.java
  backend/src/main/java/com/woori/wonfit/member/bank/domain/BankInfo.java
  backend/src/main/java/com/woori/wonfit/member/bank/domain/BankInfoSerializer.java
  backend/src/main/java/com/woori/wonfit/member/bank/util/CookieUtils.java
  backend/src/main/java/com/woori/wonfit/member/investtype/service/InvestTypeService.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberMydataBankRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/mydata/domain/MyData.java
Labels: ✨ feat, 🗿 backend
