Repository woorifisa-projects/WONFIT, pull requests merged in 2023-08, with the labels that each got.

#22 chore: gitignore 파일 작성 완료
  backend/.gitignore
Labels: ⚙ chore

#23 UI: 관리자 마이페이지 UI 구현 중
  frontend/.gitignore
  frontend/src/components/ManagerPage.vue
  frontend/src/router/index.js
  frontend/src/views/ManagerPage.vue
Labels: 🎨 UI

#24 UI: 메인페이지 구현(#17)
  frontend/src/components/Mainpage.vue
  frontend/src/views/Main.vue
Labels: 🌞 frontend, 🎨 UI

#25 chore: 패키지 구조 설계 및 구현 완료
  backend/src/main/java/com/woori/wonfit/member/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/member/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/member/liked/dto/LikedResponse.java
  backend/src/main/java/com/woori/wonfit/member/liked/service/LikedService.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/controller/MemberInfoController.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/dto/MemberInfoResponse.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoService.java
  backend/src/main/java/com/woori/wonfit/member/memberloginlog/controller/MemberLoginLog.java
  backend/src/main/java/com/woori/wonfit/member/memberloginlog/domain/MemberLoginLog.java
  backend/src/main/java/com/woori/wonfit/member/memberloginlog/dto/MemberLoginLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/memberloginlog/service/MemberLoginLogService.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/controller/MemberSearchLogController.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/domain/MemberSearchLog.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/dto/MemberSearchLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/service/MemberSearchLogService.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/controller/MemberSubLogController.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/domain/MemberSubLog.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/dto/MemberSubLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/service/MemberSubLogService.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/controller/ProductDepositController.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/domain/ProductDeposit.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/dto/ProductDepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/service/ProductDepositService.java
  backend/src/main/java/com/woori/wonfit/product/productforeignexchange/controller/ProductForeignExchangeController.java
  backend/src/main/java/com/woori/wonfit/product/productforeignexchange/domain/ProductForeignExchange.java
  backend/src/main/java/com/woori/wonfit/product/productforeignexchange/dto/ProductForeignExchangeResponse.java
  backend/src/main/java/com/woori/wonfit/product/productforeignexchange/service/ProductForeignExchangeService.java
  backend/src/main/java/com/woori/wonfit/product/productfund/controller/ProductFundController.java
  backend/src/main/java/com/woori/wonfit/product/productfund/domain/ProductFund.java
  backend/src/main/java/com/woori/wonfit/product/productfund/dto/ProductFundResponse.java
  backend/src/main/java/com/woori/wonfit/product/productfund/service/ProductFundService.java
  backend/src/main/java/com/woori/wonfit/product/productsavings/controller/ProductSavingsController.java
  backend/src/main/java/com/woori/wonfit/product/productsavings/domain/ProductSavings.java
  backend/src/main/java/com/woori/wonfit/product/productsavings/dto/ProductSavingsResponse.java
  backend/src/main/java/com/woori/wonfit/product/productsavings/service/ProductSavingsService.java
Labels: ⚙ chore

#34 feat: 회원가입 및 로그인 기능 구현 완료 (#28)
  backend/build.gradle
  backend/src/main/java/com/woori/wonfit/config/CorsConfig.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDto.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberLoginRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberLoginResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
Labels: 🗿 backend

#36 [Feature] Entity 클래스 작성 #35
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  backend/src/main/java/com/woori/wonfit/member/memberloginlog/domain/MemberLoginLog.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/domain/MemberSearchLog.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/controller/MemberSubLogController.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/domain/MemberSubLog.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/dto/MemberSubLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/membersublog/service/MemberSubLogService.java
  backend/src/main/java/com/woori/wonfit/member/sublog/controller/MemberSubLogController.java
  backend/src/main/java/com/woori/wonfit/member/sublog/domain/SubLog.java
  backend/src/main/java/com/woori/wonfit/member/sublog/domain/SubStatus.java
  backend/src/main/java/com/woori/wonfit/member/sublog/dto/MemberSubLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/sublog/service/MemberSubLogService.java
  backend/src/main/java/com/woori/wonfit/product/product/controller/ProductController.java
  backend/src/main/java/com/woori/wonfit/product/product/domain/Product.java
  backend/src/main/java/com/woori/wonfit/product/product/dto/ProductResponse.java
  backend/src/main/java/com/woori/wonfit/product/product/service/ProductService.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/domain/ProductDeposit.java
  backend/src/main/java/com/woori/wonfit/product/productforeignexchange/domain/ProductForeignExchange.java
  backend/src/main/java/com/woori/wonfit/product/productfund/domain/ProductFund.java
  backend/src/main/java/com/woori/wonfit/product/productsavings/domain/ProductSavings.java
Labels: 🗿 backend

#38 [Refactor] ProductController 클래스 수정 #37
  backend/src/main/java/com/woori/wonfit/product/product/controller/ProductController.java
Labels: 🛠refactor

#39 hotfix: gradle-wrapper.properties 파일 추가
  backend/.gitignore
Labels: 🚨hotfix

#41 fix: src/router/index.js에 관리자 페이지 경로 추가(#40)
  frontend/src/router/index.js
Labels: 🚧 fix, 🌞 frontend

#43 fix: 로그인 인증 버그 수정 (#42)
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberLoginRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
Labels: 🚧 fix, 🗿 backend

#47 feat: 관리자 투자성향분석 질문 조회 기능 api 구현
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/domain/Manager.java
  backend/src/main/java/com/woori/wonfit/manager/domain/ManagerRepository.java
  backend/src/main/java/com/woori/wonfit/manager/dto/ManagerResponse.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerService.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
Labels: ✨ feat, 🗿 backend

#49 feat: 사용자 마이페이지 관심 상품 조회 API 기능 구현 중
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/member/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/member/liked/dto/LikedResponse.java
  backend/src/main/java/com/woori/wonfit/member/liked/repository/LikedRepository.java
  backend/src/main/java/com/woori/wonfit/member/liked/service/LikedService.java
  backend/src/main/java/com/woori/wonfit/member/liked/service/LikedServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/product/productfund/domain/ProductFund.java
Labels: ✨ feat, 🗿 backend

#48 feat: 사용자 마이페이지 내 가입 상품 조회 api 구현 진행중
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDto.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/sublog/controller/MemberSubLogController.java
  backend/src/main/java/com/woori/wonfit/member/sublog/domain/SubLog.java
  backend/src/main/java/com/woori/wonfit/member/sublog/domain/SubStatus.java
  backend/src/main/java/com/woori/wonfit/member/sublog/repository/MemberSubLogRepository.java
  backend/src/main/java/com/woori/wonfit/member/sublog/service/MemberSubLogService.java
  backend/src/main/java/com/woori/wonfit/product/loan/domain/Loan.java
  backend/src/main/java/com/woori/wonfit/product/product/controller/ProductController.java
  backend/src/main/java/com/woori/wonfit/product/product/domain/Product.java
  backend/src/main/java/com/woori/wonfit/product/product/dto/ProductResponse.java
  backend/src/main/java/com/woori/wonfit/product/product/service/ProductService.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/controller/ProductDepositController.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/domain/ProductDeposit.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/repository/DepositRepository.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/service/DepositService.java
  backend/src/main/java/com/woori/wonfit/product/productforeignexchange/domain/ProductForeignExchange.java
  backend/src/main/java/com/woori/wonfit/product/productsavings/domain/ProductSavings.java
Labels: ✨ feat, 🗿 backend

#51 refactor: 파일 구조 변경 및 코드 리팩토링
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/member/liked/service/LikedServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/sublog/service/MemberSubLogService.java
Labels: 🛠refactor

#53 rename: 패키지 이름 변경 (#52)
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/controller/MemberSearchLogController.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/dto/MemberSearchLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/membersearchlog/service/MemberSearchLogService.java
  backend/src/main/java/com/woori/wonfit/member/searchlog/controller/MemberSearchLogController.java
  backend/src/main/java/com/woori/wonfit/member/searchlog/domain/MemberSearchLog.java
  backend/src/main/java/com/woori/wonfit/member/searchlog/dto/MemberSearchLogResponse.java
  backend/src/main/java/com/woori/wonfit/member/searchlog/service/MemberSearchLogService.java
  backend/src/main/java/com/woori/wonfit/member/sublog/domain/SubLog.java
  backend/src/main/java/com/woori/wonfit/product/deposit/domain/Deposit.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/ProductDepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/deposit/repository/DepositRepository.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositService.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/dto/ProductDepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/repository/DepositRepository.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/service/DepositService.java
Labels: 💫 rename

#59 refactor: resources 디렉토리 추가
  backend/src/main/resources/.gitkeep
Labels: 🛠refactor, 💫 rename

#64 HOTFIX: 폴더 구조 재수정
  backend/src/main/java/com/woori/wonfit/member/sublog/domain/MemberSubLogRepository.java
  backend/src/main/java/com/woori/wonfit/product/productdeposit/service/ProductDepositServiceImpl.java
Labels: 🚨hotfix

#68 feat: 대출,예금 조회 api 구현
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogResponse.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogService.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/deposit/controller/DepositController.java
  backend/src/main/java/com/woori/wonfit/product/deposit/domain/DepositRepository.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositService.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/controller/LoanController.java
  backend/src/main/java/com/woori/wonfit/product/loan/domain/LoanRepository.java
  backend/src/main/java/com/woori/wonfit/product/loan/dto/LoanResponse.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanService.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
Labels: ✨ feat, 🗿 backend

#70 chore: .gitignore 수정 및 파일 추가
  frontend/.gitignore.txt
Labels: ⚙ chore

#72 fix: 회원가입 버그 수정
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
Labels: 🚧 fix, 🗿 backend

#74 feat: 적금 조회 API 구현
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  backend/src/main/java/com/woori/wonfit/product/fund/controller/FundController.java
  backend/src/main/java/com/woori/wonfit/product/fund/domain/FundRepository.java
  backend/src/main/java/com/woori/wonfit/product/fund/service/FundService.java
  backend/src/main/java/com/woori/wonfit/product/savings/controller/SavingsController.java
  backend/src/main/java/com/woori/wonfit/product/savings/domain/Savings.java
  backend/src/main/java/com/woori/wonfit/product/savings/domain/SavingsRepository.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsRequest.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsResponse.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsService.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsServiceImpl.java
Labels: ✨ feat, 🗿 backend

#80 feat: 회원 전체조회 기능 구현 완료
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
Labels: ✨ feat, 🗿 backend

#81 refactor: repository 디렉토리 생성 후 옮기기, 각 상품 entity 필드 수정
  backend/src/main/java/com/woori/wonfit/log/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/log/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/log/liked/domain/LikedRepository.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedAddRequest.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedMapper.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedResponse.java
  backend/src/main/java/com/woori/wonfit/log/liked/repository/LikedRepository.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedService.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedServiceImpl.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/domain/LoginLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/repository/LoginLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/domain/SearchLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/repository/SearchLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/repository/SubscribeLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  backend/src/main/java/com/woori/wonfit/manager/repository/ManagerRepository.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/repository/MemberInfoRepository.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoService.java
  backend/src/main/java/com/woori/wonfit/product/deposit/domain/Deposit.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositResponse.java
  backend/src/main/java/com/woori/wonfit/product/deposit/repository/DepositRepository.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/fund/domain/Fund.java
  backend/src/main/java/com/woori/wonfit/product/fund/repository/FundRepository.java
  backend/src/main/java/com/woori/wonfit/product/fund/service/FundServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/domain/Loan.java
  backend/src/main/java/com/woori/wonfit/product/loan/dto/LoanResponse.java
  backend/src/main/java/com/woori/wonfit/product/loan/repository/LoanRepository.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/savings/domain/Savings.java
  backend/src/main/java/com/woori/wonfit/product/savings/dto/SavingsResponse.java
  backend/src/main/java/com/woori/wonfit/product/savings/repository/SavingsRepository.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsServiceImpl.java
Labels: 🛠refactor

#85 feat: loan create api 생성
  backend/src/main/java/com/woori/wonfit/manager/controller/ManagerController.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/deposit/service/DepositServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/domain/Loan.java
  backend/src/main/java/com/woori/wonfit/product/loan/repository/LoanRepository.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanService.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/savings/service/SavingsServiceImpl.java
Labels: ✨ feat, 🗿 backend

#86 feat: 사용자 상세 정보 조회 api 구현
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanRequest.java
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanResponse.java
  backend/src/main/java/com/woori/wonfit/manager/service/ManagerServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDetails.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDto.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/repository/MemberRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/controller/MemberInfoController.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/domain/MemberInfo.java
  backend/src/main/java/com/woori/wonfit/member/memberinfo/service/MemberInfoService.java
  backend/src/main/java/com/woori/wonfit/product/deposit/dto/DepositRequest.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
Labels: 🚧 fix, ✨ feat, 🗿 backend

#90 feat: 마이페이지 회원 탈퇴 기능 구현 완료
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberRegisterRequest.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
Labels: ✨ feat, 🗿 backend

#91 fix: 회원 상세 조회 기능 수정
  backend/src/main/java/com/woori/wonfit/member/member/domain/Member.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberDetails.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
Labels: 🚧 fix, 🗿 backend

#92 feat: sub_log 조회 api 구현
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLog.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogRequest.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogResponse.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/repository/SubscribeLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogService.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanRequest.java
  backend/src/main/java/com/woori/wonfit/manager/dto/LoanResponse.java
Labels: ✨ feat, 🗿 backend

#93 fix: login 유효성 검사 기능 구현 완료
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/dto/MemberLoginResponse.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: 🗿 backend, 🚨hotfix

#95 Feat/94 liked get api be
  backend/src/main/java/com/woori/wonfit/log/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedAddRequest.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedMapper.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedRequest.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedResponse.java
  backend/src/main/java/com/woori/wonfit/log/liked/repository/LikedRepository.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedService.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedServiceImpl.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogResponse.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
Labels: ✨ feat, 🗿 backend

#96 feat: 검색기록 저장, 조회 api 기능 구현
  backend/src/main/java/com/woori/wonfit/log/searchlog/controller/SearchLogController.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/domain/SearchLog.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/dto/SearchLogRequest.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/dto/SearchLogResponse.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/repository/SearchLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/service/SearchLogService.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/service/SearchLogServiceImpl.java
Labels: ✨ feat, 🗿 backend

#98 feat: 검색 기록 삭제 api 기능 구현했습니다.
  backend/src/main/java/com/woori/wonfit/log/searchlog/controller/SearchLogController.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/repository/SearchLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/service/SearchLogService.java
  backend/src/main/java/com/woori/wonfit/log/searchlog/service/SearchLogServiceImpl.java
Labels: ✨ feat, 🗿 backend

#100 chore: components 디렉토리의 파일 views로 이동(FE)
  .gitignore
  frontend/.gitignore.txt
  frontend/src/components/DepositTest.vue
  frontend/src/components/FundTest.vue
  frontend/src/components/IncomeAnalysis.vue
  frontend/src/components/LoanTest.vue
  frontend/src/components/Loginpage.vue
  frontend/src/components/Mainpage.vue
  frontend/src/components/ManagerPage.vue
  frontend/src/components/MyPage.vue
  frontend/src/components/Recommendpage.vue
  frontend/src/components/SavingsTest.vue
  frontend/src/components/Signuppage.vue
  frontend/src/components/components.vue
  frontend/src/views/DepositTest.vue
  frontend/src/views/FundTest.vue
  frontend/src/views/Income.vue
  frontend/src/views/LoanTest.vue
  frontend/src/views/Login.vue
  frontend/src/views/Main.vue
  frontend/src/views/ManagerPage.vue
  frontend/src/views/MyPage.vue
  frontend/src/views/Recommend.vue
  frontend/src/views/SavingsTest.vue
  frontend/src/views/Signup.vue
Labels: ⚙ chore, 🌞 frontend

#103 Feat/94 liked get be
  backend/src/main/java/com/woori/wonfit/log/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/log/liked/repository/LikedRepository.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedService.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/fund/domain/Fund.java
Labels: ✨ feat, 🗿 backend

#104 feat: 로그인 기록 구현 완료
  backend/build.gradle
  backend/src/main/java/com/woori/wonfit/log/loginlog/domain/LoginLog.java
  backend/src/main/java/com/woori/wonfit/log/loginlog/repository/LoginLogRepository.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberService.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
  backend/src/main/java/com/woori/wonfit/product/loan/service/LoanServiceImpl.java
  frontend/src/views/Login.vue
Labels: ✨ feat, 🗿 backend

#108 feat: 인가 기능 구현
  backend/src/main/java/com/woori/wonfit/config/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/config/SecurityConfig.java
  backend/src/main/java/com/woori/wonfit/member/member/controller/MemberController.java
  backend/src/main/java/com/woori/wonfit/member/member/domain/JwtUtil.java
  backend/src/main/java/com/woori/wonfit/member/member/service/MemberServiceImpl.java
Labels: ✨ feat, 🗿 backend

#111 UI: 예금, 적금, 펀드, 대출 상품 검색 페이지 UI 완료, 추가 작업 필요함
  frontend/src/components/button/TypeButton.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/components/card/product/FundCard.vue
  frontend/src/components/card/product/LoanCard.vue
  frontend/src/components/card/product/SavingsCard.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/layouts/default/Default.vue
  frontend/src/router/index.js
  frontend/src/views/InvestmentResult.vue
  frontend/src/views/Main.vue
  frontend/src/views/ProductSearch.vue
  frontend/src/views/SearchDefault.vue
  frontend/src/views/SearchFund.vue
  frontend/src/views/SearchLoan.vue
  frontend/src/views/SearchSavings.vue
Labels: 🌞 frontend, 🎨 UI

#112 UI: 마이데이터, 사용자 마이페이지 UI 구현
  frontend/src/assets/hana.png
  frontend/src/assets/ibk.png
  frontend/src/assets/kakao.png
  frontend/src/assets/kbank.png
  frontend/src/assets/kookmin.png
  frontend/src/assets/nonghyup.png
  frontend/src/assets/sc.png
  frontend/src/assets/shinhan.png
  frontend/src/assets/toss.png
  frontend/src/assets/woori.png
  frontend/src/components/Withdraw.vue
  frontend/src/components/button/CustomButton.vue
  frontend/src/components/button/RadioButton.vue
  frontend/src/components/components.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/router/index.js
  frontend/src/views/BankSelect.vue
  frontend/src/views/Income.vue
  frontend/src/views/Main.vue
  frontend/src/views/ManagerPage.vue
  frontend/src/views/MyInfo.vue
  frontend/src/views/MyLikedProduct.vue
  frontend/src/views/MyPage.vue
  frontend/src/views/MySubscribeProduct.vue
  frontend/src/views/Recommend.vue
  frontend/src/views/Withdraw.vue
  frontend/src/views/managerpagecopy.vue
Labels: 🌞 frontend, 🎨 UI

#113 Feat/94 liked get be
  backend/src/main/java/com/woori/wonfit/log/liked/controller/LikedController.java
  backend/src/main/java/com/woori/wonfit/log/liked/domain/Liked.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedRequest.java
  backend/src/main/java/com/woori/wonfit/log/liked/dto/LikedResponse.java
  backend/src/main/java/com/woori/wonfit/log/liked/repository/LikedRepository.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedService.java
  backend/src/main/java/com/woori/wonfit/log/liked/service/LikedServiceImpl.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/controller/SubscribeLogController.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/domain/SubscribeLog.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogRequest.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/dto/SubscribeLogResponse.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/repository/SubscribeLogRepository.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogService.java
  backend/src/main/java/com/woori/wonfit/log/subscribelog/service/SubscribeLogServiceImpl.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/ManagerPage.vue
Labels: ✨ feat, 🗿 backend

#116 refactor: 프론트엔드 <script> 부분 Options API를 Composition API로 변경
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Withdraw.vue
  frontend/src/components/card/product/DepositCard.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/src/router/index.js
  frontend/src/views/BankSelect.vue
  frontend/src/views/DepositTest.vue
  frontend/src/views/FundTest.vue
  frontend/src/views/InvestmentResult.vue
  frontend/src/views/LoanTest.vue
  frontend/src/views/Login.vue
  frontend/src/views/Main.vue
  frontend/src/views/MyInfo.vue
  frontend/src/views/SavingsTest.vue
  frontend/src/views/Signup.vue
  frontend/src/views/detail/Deposit.vue
  frontend/src/views/detail/Fund.vue
  frontend/src/views/detail/Loan.vue
  frontend/src/views/detail/Savings.vue
  frontend/src/views/managerpagecopy.vue
  frontend/src/views/search/Default.vue
  frontend/src/views/search/Fund.vue
  frontend/src/views/search/Loan.vue
  frontend/src/views/search/Savings.vue
  frontend/src/views/test/DepositTest.vue
  frontend/src/views/test/FundTest.vue
  frontend/src/views/test/LoanTest.vue
  frontend/src/views/test/SavingsTest.vue
Labels: 🌞 frontend, 🛠refactor

#117 UI: composition API로 리팩토링
  frontend/src/components/button/CustomButton.vue
  frontend/src/components/button/GreyButton.vue
  frontend/src/components/button/RadioButton.vue
  frontend/src/components/card/recommend/Card.vue
  frontend/src/components/checkbox/LabelComponent.vue
  frontend/src/layouts/default/AppBar.vue
  frontend/src/router/index.js
  frontend/src/views/Income.vue
  frontend/src/views/Main.vue
  frontend/src/views/MyLikedProduct.vue
  frontend/src/views/MyPage.vue
  frontend/src/views/MySubscribeProduct.vue
  frontend/src/views/Withdraw.vue
Labels: 🌞 frontend, 🛠refactor, 🎨 UI

#120 chore: 서버 연결을 위한 설정 파일 업로드
  frontend/.gitignore
  frontend/src/api/index.js
  frontend/src/api/modules/depositApi.js
Labels: ⚙ chore
